body{
    background-color: whitesmoke;
}
p{
    text-align: center;
    font-size: larger;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-inline: auto;
    margin-top: 50px;
    width: 400px;
}